<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ftp server started by the tests listens on this port, with fake file system -->
    <add key="FTP" value="21021"/>
    <add key="FTPPASV" value="59860"/>
    <add key="FtpServerHostPublic" value="localhost"/>
    <add key="Mode" value="Debug"/>
    <add key="MaxClients" value="10"/>
    <add key="MaxIdleSeconds" value="60"/>
    <add key="ConnectionEncoding" value="UTF8"/>
    <add key="LoggingEnabled" value="True"/>
    <add key="LogPath" value="ftplog-tests"/>
  </appSettings>
</configuration>
